
    h1 {color: rgb(54, 228, 10);
    font-size: 40px;
    }
    p {font-size:large ; color: rgb(20, 33, 220);} 
   h2 {color: rgb(54, 228, 10);}
ul {font-size: large; color: blue;}
body {background-color: rgb(26, 3, 10);}
dl {color: blue}
header {font-size: large;}